[user]
	name = Frederic Barthelemy
	email = git@fbartho.com
	signingkey = 9D2B3E7C1526516EE90FAF126FF43C49A5D473EF
[branch]
	autosetupmerge = true
[alias]
	st = status
	co = checkout
	cp = cherry-pick
	ci = commit
	br = branch
	df = diff
	lg = log -p
	lh = log -n1 --pretty=format:%H
	x = !open -a /Applications/GitX.app  .
	# x = !open -a /Users/fbarthelemy/Code/gitx/build/Debug/GitX.app  .
	vn = !"cat submodules/narwhal/build/Current/NGCore/Client/Core/Capabilities.js | grep \"this._fields = \" | awk '{gsub(/'\"'\"'g*};|'\"'\"'g/,\"\")}{print $8}'"
	conar = !"git co `git vn`"
	cleanup = !"git reflog expire --expire=1.minute refs/heads/master; git fsck --unreachable && git prune && git gc"
	pa = pushall
	pushall = !pushall
	amend-reuse = commit --amend -C HEAD --reset-author
	git = !git
	gst = status
	gofmt = !git status --porcelain | sed -E "'s( [A-Z] (./('" | grep ".go$" | xargs -n1 go fmt
	bclean = "!f() { git branch --merged ${1-master} | grep -v " ${1-master}$" | xargs -n 1 git branch -d; }; f"
	apply-gitignore = !git ls-files -ci --exclude-standard -z | xargs -0 git rm --cached
	split = !git-split
	showlocal = !git-showlocal
	prunelocal = !git-prunelocal
	reauthor = !sh -c 'eval `git log --reverse --topo-order --pretty=format:\"git cherry-pick %H &&  git commit --amend -C %H --author=\\\"%aN <%aE>\\\" && \" $0 ` "echo success" '
	stash-rename = "!_() { rev=$(git rev-parse $1) && git stash drop $1 || exit 1 ; git stash store -m \"$2\" $rev; }; _"
[color]
	ui = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
#[merge]
#	tool = "FileMerge"
#[mergetool "FileMerge"]
#	cmd = "/Developer/Applications/Utilities/FileMerge.app/Contents/MacOS/FileMerge -left \"$REMOTE\" -right \"$LOCAL\" -ancestor \"$BASE\" -merge \"$MERGED\""
[merge]
	keepBackup = false;
	tool = p4merge
[mergetool "p4merge"]
	cmd = "p4merge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\""
	keepTemporaries = false
	trustExitCode = false
	keepBackup = false
#[diff]
#	external = p4diff
[mergetool]
	keepBackup = false
[diff "localizablestrings"]
	textconv = "iconv -f utf-16 -t utf-8"
[push]
	default = matching
[advice]
	pushNonFastForward = false
	statusHints = false
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[core]
	excludesfile = /Users/fbarthelemy/.gitignore_global
[diff]
	compactionHeuristic = true
[commit]
	gpgsign = true
[gpg]
	program = gpg
